name: Build

on:
  push:
    branches:
      - "**"
  pull_request:

jobs:
  pyinstaller-build-windows:
    name: Build Windows x64 executable
    runs-on: windows-latest
    steps:
      - uses: actions/checkout@v4
      - name: Set up Python 3.x
        uses: actions/setup-python@v5
        with:
          python-version: "3.11"
          cache: 'pip'
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt
          pip install -r requirements-dev.txt
      - name: Build with pyinstaller
        run: pyinstaller -F -n AutoBanana-win64 -i banana.ico --add-data "web;web" --add-data "config.ini.example;." --add-data "banana.ico;." AutoBanana.py
      - name: Upload artifact
        uses: actions/upload-artifact@v4
        with:
          name: AutoBanana-win64
          path: dist/AutoBanana-win64.exe

permissions:
  contents: write